textarea label,
input label,
select label {
    font-weight: normal;
}
textarea, input, select {
    font-weight: bold;
    font-size: large;
}
textarea, input, select {
    /*margin-top: 2px;*/
    padding: 0px;
}
