textarea label,
input label,
select label {
    font-weight: normal;
}

textarea, input, select {
    font-weight: normal;
    font-size: medium;
}

textarea, input, select {
    /*margin-top: 2px;*/
    padding: 0px;
}
/* SIZE */
textarea, input, select {
    width: 180px;
}
