
button {
    margin-top: 3px;
    margin-left: 5px;
    height: 20px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}

.prompt {
    color: #2aabd2;
}

ul.commmands li {
    /*border: 1px;*/
    /*padding: 2px;*/

    margin-left: 10px;
}

a {
    color: #007bac;
}

#navig_private {
    float: right;
}

.projects li a {
    /*font-size: 12px;*/
    padding-bottom: 5px;
}


.message {
    min-width: 1000px;
    float: right;
    background-color: #fafafa;
    font-size: 10px;
    padding-left: 5px;
}


.logs {
    width: 250px;
    float: left;

}

input[type=text] {
    text-align: right;
}

fieldset {
    border: 1px solid #dddddd;
    background: #eeeeee;
    margin-bottom: 2px;
    padding-top: 4px;
    padding-bottom: 4px;
}

fieldset label {
    margin-right: 5px;
}
